.hljs-collapse-btn {
    text-align: center;
    background: linear-gradient(to top, rgba(220, 220, 220, 1), rgb(238, 238, 238));
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 1rem;
}

pre {
    display: block;
    position: relative;
    height: auto;
    overflow: auto;
    transition: max-height .25s ease-out;
    max-height: 256px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    margin: 0;
    padding: 0.8em;
    background-color: rgb(238, 238, 238);
    color: #4d4d4c;

    & code {
        font-family: "Monaco", "Consolas", "Lucida Console", "monospace";
    }
}

.pre-not-overflow {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

pre.active {
    max-height: 1024px;
}

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
    color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
    color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
    color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #8959a8;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

