@media screen and (max-device-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.75rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    p, span, li{
        font-size: 2.5rem;
    }

    & pre {
        & code {
            font-size: 1.5rem;
            & span, p {
                font-size: 1.5rem;
            }
        }
    }

    #nav {
        width: 100%;
        background-color: #6c6c6c;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        padding: 1em;

        & #header-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h1 {
                color: #e8e8e8;
            }

            & h3 {
                font-size: 2rem;
                font-weight: 400;
            }
        }

        & #appbar-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #e8e8e8;

            & header {
                & h1 {
                    font-size: 3rem;
                }
            }

            & nav {
                font-size: 2rem;

                & .nav-list {
                    margin: 0;
                    padding: 0;
                }

                & .nav-item {
                    display: inline-block;
                    list-style-type: none;
                    margin: 0.5em;
                }
            }
        }
    }

    #content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        max-width: 90ch;

        padding: 0;

        & h1,
        h2,
        h3,
        h4,
        h5 {
            font-weight: 500;
        }
    }

    .post-list-item-meta {
        font-size: 2.5rem;
    }

    .post-list-item-body {
        margin-top: 1.5rem;
    }

    .post-list-item-subtitle {
        font-size: 2.5rem;
    }

    #post-body-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #post-detail-header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    #post-detail-body-tags-wrapper {
        font-size: 2rem;
        gap: 1rem;
    }

    #post-detail-bottom-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #post-detail-bottom-nav .nav-item-wrapper {
        font-size: 2.5rem;

        & span {
            font-size: 2.5rem;
            font-weight: normal;
        }
    }

    .sidepanel-item-wrapper {
        width: 100%;
        max-width: None;
    }
}