a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--color-gray-700);
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: var(--color-background-secondary);
    margin: 0;

    font-family: "Helvetica", "Arial", "Noto Sans TC";
    color: var(--color-gray-600);
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#appbar-wrapper {
    position: sticky;
    top: 0;
    background-color: #6c6c6c;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #e8e8e8;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#header-wrapper h1 {
    font-size: 1.5rem;
    color: #e8e8e8;
}

#header {
    flex-grow: 1;
    margin-left: 3rem;
}


.site-header-text {
    margin: 0;
}

#nav {
    margin-right: 3rem;
}

.nav-list {
    padding: 0;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    margin-left: 1rem;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem 2rem;
    padding: 2.5rem 2rem 0 2rem;
    flex-grow: 1;
}

#date-parameter-wrapper {
    display: flex;
    gap: 1rem;
}

.pagination .step-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem 1rem;

}

#cateogry-detail-wrapper {
    display: flex;
    flex-direction: column;
}

#category-detail-wrapper h2 {
    margin: 0 0 2rem 0;
}

#breadcrumbs {
    display: flex;
    gap: 0.2rem;
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
    color: var(--color-gray-500);
}

.breadcrumb-item-active {
    font-weight: bold;
}

#footer-wrapper {
    display: flex;
    justify-content: center;
}