:root {
    --max-app-width: 1200px;
    --system-ui: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans TC";
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--color-gray-600);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-secondary);
    margin: 0;
    font-family: var(--system-ui);
    color: var(--color-gray-600);
    text-align: justify;
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.site-header-text {
    color: var(--color-gray-300);
    margin: 0;
}

#nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--color-gray-700);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 9999;
}

#appbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-gray-300);
    max-width: var(--max-app-width);
    margin: 0 auto;
    padding: 1rem 2rem 1rem 2rem;
}

#content-wrapper {
    display: flex;
    gap: 3rem 3rem;
    margin-top: 3rem;
    flex-grow: 1;
    max-width: var(--max-app-width);
    padding: 0 2rem 0 2rem;
}

#date-parameter-wrapper {
    display: flex;
    gap: 1rem;
}

.pagination .step-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem 1rem;
}

#cateogry-detail-wrapper {
    display: flex;
    flex-direction: column;
}

#category-detail-wrapper h2 {
    margin: 0 0 2rem 0;
}

#breadcrumbs {
    display: flex;
    gap: 0.2rem;
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
    color: var(--color-gray-500);
}

.breadcrumb-item-active {
    font-weight: bold;
}

#footer-wrapper {
    display: flex;
    justify-content: center;
}

#not-found-error-wrapper {
    display: flex;
    flex-direction: column;

    & #not-found-error-header {

        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            margin: 0;
            font-size: 6rem;
        }

        & h2 {
            margin: 0;
        }
    }

    & #not-found-error-content {
        & p {
            margin: 0;
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-device-width: 601px) {
    .nav-list {
        padding: 0;
    }

    .nav-item {
        display: inline-block;
        list-style-type: none;
        font-weight: bold;
        font-size: 1.25rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 900px) {
    #content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem 2rem;
        padding: 0 2rem 0 2rem;
        margin-top: 2rem;
        flex-grow: 1;
    }
}