{% load static %}
{% load martortags %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    {% block head %}
      <title>My Django App</title>
    {% endblock head %}
    {% block meta %}
      <meta charset="UTF-8">
      {% if post.meta_desc %}
        <meta name="description" content="{{ post.meta_desc }}">
      {% else %}
        <meta name="description" content="{{ blog.blog_meta_description }}">
      {% endif %}
      {% if post.tags %}
        <meta name="keywords"
              content="{% for tag in post.tags.all %}{% if forloop.last %}{{ tag.name }}{% else %}{{ tag.name }},{% endif %}{% endfor %}">
      {% else %}
        <meta name="keywords" content="{{ blog.blog_meta_keywords }}">
      {% endif %}
      <meta name="author" content="{{ profile.nickname }}">
    {% endblock meta %}
    {% block facebook-meta %}
      {% if post %}
        <meta property="og:url" content="{{ post.get_absolute_url }}" />
        <meta property="og:title" content="{{ post.title }}" />
        <meta property="og:image" content="{{ request.get_host }}{{ post.cover_image.image.url }}" />
        <meta property="og:image:alt"
              content="{{ post.cover_image.description }}" />
      {% endif %}
    {% endblock facebook-meta %}
    {% block twitter-meta %}
      {% if post %}
        <meta name="twitter:image"
              content="{{ request.get_host }}{{ post.cover_image.image.url }}" />
        <meta property="twitter:image:alt" content="{{ post.cover_image.name }}"" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content={{ profile.twitter_name }} />
      {% endif %}
    {% endblock twitter-meta %}
    {% block css %}
      <!-- My Custom CSS-->
      <link rel="stylesheet" href={% static "blog/color_var.css" %}>
      <link rel="stylesheet" href={% static "blog/style.css" %}>
      <link rel="stylesheet" href={% static "blog/index.css" %}>
      <link rel="stylesheet" href={% static "blog/post.css" %}>
      <link rel="stylesheet" href={% static "blog/tag.css" %}>
      <link rel="stylesheet" href={% static "blog/hljs_tomorrow.css" %}>
      <link rel="stylesheet" href={% static "blog/rwd.css" %}>
      <!-- Web 3rd Party CSS-->
      <link href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}"
            rel="stylesheet"></link>
    <!-- Web Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans+TC">
  {% endblock css %}
  {% block js %}
    <script type="text/javascript"
            src="{% static 'jquery/dist/jquery-3.6.4.min.js' %}"></script>
    <!-- Martor Viewer JS -->
    <script type="text/javascript"
            src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <!-- Martor Editor Form JS-->
    <script>
      window.onload = () => {
      $('pre').each((i, block) => {
        hljs.highlightBlock(block);
      });
    };
    </script>
  {% endblock js %}
</head>
<body id="body">
  <div id="nav">
    <div id="appbar-wrapper">
      <header id="header">
        {% block header %}
          <h1>Default Header</h1>
        {% endblock header %}
      </header>
      <nav>
        {% block nav %}
        {% endblock nav %}
      </nav>
    </div>
  </div>
  <div id="content-wrapper">
    <main>
      <div id="breadcrumbs-wrapper">
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
      </div>
      {% block main %}
      {% endblock main %}
    </main>
    {% block sidepanel %}
    {% endblock sidepanel %}
  </div>
  <footer>
    {% block footer %}
    {% endblock footer %}
  </footer>
</body>
</html>
