{% extends "blog/base.html" %}
{% load martortags %}
{% load blog_extras %}
{% block head %}
  <title>{{ post.title }}</title>
{% endblock head %}
{% block header %}
  <div id="header-wrapper">
    <a href="{% url 'index' %}">
      <h1 class="site-header-text">shzlee.com</h1>
    </a>
  </div>
{% endblock header %}
{% block nav %}
  <div id="nav-wrapper">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{% url 'index' %}">BLOG</a>
      </li>
      {% comment %} <li class="nav-item">
        <a>PROJECT</a>
      </li> {% endcomment %}
      <li class="nav-item">
        <a href="{{ profile.website }}">PROFILE</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'about' %}">ABOUT</a>
      </li>
    </ul>
  </div>
{% endblock nav %}
{% block sidepanel %}
  <div id="index-sidepanel-search" class="sidepanel-item-wrapper">
    {% comment %} <div id="index-sidepanel-profile" class="sidepanel-item-wrapper">
      <div class="sidepanel-item-header">
        <h2>
          <span>About Me</span>
        </h2>
      </div>
      <div class="sidepanel-item-content">
        <p>{{ profile.biography|safe_markdown }}</p>
      </div>
    </div>
    <hr class="sidepanel-divider"> {% endcomment %}
    <div class="sidepanel-item-header">
      <h2>
        <span>Search</span>
      </h2>
    </div>
    <div class="sidepanel-item-content">
      <form action="{% url 'index' %}" method="get">
        {% csrf_token %}
        <input type="search" class="search" name="q">
        <button type="submit" class="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
  <hr class="sidepanel-divider">
  <div id="index-sidepanel-archive" class="sidepanel-item-wrapper">
    <div class="sidepanel-item-header">
      <h2>
        <span>Archive</span>
      </h2>
    </div>
    <div id="index-sidepanel-archive-list-wrapper"
         class="sidepanel-item-content">
      {% for year, months in archive.items %}
        <ul>
          {% for month, posts in months.items %}
            <li>
              <a href={% url 'index' year=year month=month %}>{{ month|month_name }} {{ year }}</a>
              <ul>
                {% for post in posts %}
                  <li>
                    <a href={{ post.get_absolute_url }}>{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
  <hr class="sidepanel-divider">
  <div id="index-sidepanel-category" class="sidepanel-item-wrapper">
    <div id="index-sidepanel-category-header-wrapper"
         class="sidepanel-item-header">
      <h2>Category</h2>
    </div>
    <div class="sidepanel-item-content">
      <ul>
        {% for category in categories %}
          <li>
            <a href={{ category.get_absolute_url }}>{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock sidepanel %}
{% block breadcrumbs %}
  {% if request.path != '/blog/' %}
    <nav id="breadcrumbs">
      {% for path in breadcrumb_path %}
        {% if forloop.last %}
          <span class="breadcrumb-item-active">{{ path.name }}</span>
        {% else %}
          <span class="breadcrumb-item"><a href='{{ path.href }}'>{{ path.name }}</a></span>
          <span>/</span>
        {% endif %}
      {% endfor %}
    </nav>
  {% endif %}
{% endblock breadcrumbs %}
{% block main %}
  <div id="index-main-wrapper">
    {% if search_query %}
      <div id="search-query-wrapper">
        <h2>Search: {{ search_query }}</h2>
      </div>
      <hr class="sidepanel-divider">
    {% endif %}
    {% if date_parameter %}
      <div id="date-parameter-wrapper">
        <h2>
          {{ date_parameter.year }}年 -
          {% if date_parameter.month %}
            {{ date_parameter.month }}月
          </h2>
        {% endif %}
      </div>
      <hr class="sidepanel-divider">
    {% endif %}
    {% if posts %}
      {% include "blog/postList.html" with posts=posts %}
    {% else %}
      <div class="not-found-message">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <span>{{ not_found_message }}</span>
      </div>
    {% endif %}
  </div>
  {% if posts %}
    {% include "blog/postListPaginator.html" with page_obj=page_obj %}
  {% endif %}
{% endblock main %}
{% block footer %}
  <div id="footer-wrapper">
    <div id="footer-copyright-wrapper">
      <p>Copyright © 2023 SHZ LEE. All rights reserved.</p>
    </div>
  </div>
{% endblock footer %}
