{% extends "blog/base.html" %}
{% load martortags %}
{% block head %}
  <title>{{ post.title }}</title>
{% endblock head %}
{% block header %}
  <div id="header-wrapper">
    <h1>SHZ Lee</h1>
  </div>
{% endblock header %}
{% block nav %}
  <div id="nav-wrapper">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{% url 'index' %}">HOME</a>
      </li>
      <li class="nav-item">
        <a>ARTWORK</a>
      </li>
      <li class="nav-item">
        <a>PROJECT</a>
      </li>
      <li class="nav-item">
        <a>PROFILE</a>
      </li>
      <li class="nav-item">
        <a>CONTACT</a>
      </li>
    </ul>
  </div>
{% endblock nav %}
{% block sidepanel %}
<div id="index-sidepanel-profile">
</div>
{% endblock sidepanel %}
{% block main %}
  <div id="index-main-wrapper">
    <ul class="post-list">
      {% for post in posts %}
        <li class="post-item">
          <hr class="index-item-divier">
          <p class="post-create-date">{{ post.publish_date }}</p>
          <h1 class="post-title">
            <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
          </h1>
          <div class="post-body">{{ post.body|safe_markdown }}</div>
          {% include "blog/tagListComponent.html" with tags_list_object=post.tags.all %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock main %}
{% block footer %}
  <div id="footer-wrapper">
    <div id="footer-copyright-wrapper">
      <p>
        Copyright © 2023 SHZ LEE. All rights reserved.
      </div>
    </div>
  {% endblock footer %}
