{% extends "blog/index.html" %}
{% load martortags %}

{% block sidepanel %}
{% endblock sidepanel %}

{% block main %}
  <div id="post-detail-wrapper">
    {% include "blog/postBody.html" with object=object %}
    {% include "blog/tagListComponent.html" with tags_list_object=object.tags.all %}
    {% comment %} <div id="post-comment-wrapper">
      <div id="post-comment-header-wrapper">
        <h3>Comments</h3>
      </div>
      <div id="post-comment-body-wrapper">
        <div id="post-comment-body-content-wrapper">
          <ul class="post-comment-list">
            {% for comment in comments %}
              <li class="post-comment-item">
                <div class="post-comment-item-header">
                  <p class="post-comment-item-header-author">{{ comment.author }}</p>
                  <p class="post-comment-item-header-time">{{ comment.comment_at }}</p>
                </div>
                <div class="post-comment-item-body">
                  {{ comment.body|safe_markdown }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div id="post-comment-form-wrapper">
          <form action='{{ object.get_absolute_url }}' method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form }}
            </div>

            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
{% endblock main %}
