<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <div class="step-links-items">
                <a class="step-links-item" href="?page=1">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
                <a class="step-links-item"
                   href="?page={{ page_obj.previous_page_number }}">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <div class="step-links-items">
                <a class="step-links-item" href="?page={{ page_obj.next_page_number }}">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a class="step-links-item"
                   href="?page={{ page_obj.paginator.num_pages }}">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
        {% endif %}
    </span>
</div>
