{% load martortags %}
<div id="post-body-wrapper">
    <div id="post-detail-header-wrapper">
        <div class="post-list-item-header">
            <img src="{{ post.cover_image.image.url }}">
            <h1 class="post-list-item-title">{{ object.title }}</h1>
        </div>
        <div class="post-list-item-meta">
            <span class="post-list-item-meta-date">{{ object.created_date }}</span>
            {% if object.category %}
                <div class="post-list-item-tag-group">
                    <a href="{% url 'category_detail' name=post.category.name %}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span>{{ object.category.name }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
        {% if object.subtitle %}<h2>{{ object.subtitle }}</h2>{% endif %}
    </div>
    <div id="post-detail-body-wrapper" class="post-markdown-style">{{ object.body|safe_markdown }}</div>
    <div id="post-detail-body-tags-wrapper">
        <h3>Tags:</h3>
        <div id="post-detail-body-tags-list">
        {% for tag in object.tags.all %}
            <div class="post-list-item-tag-group">
                {% comment %} <i class="fa-solid fa-tag"></i> {% endcomment %}
                <span class="post-detail-body-tag-item">{{ tag.name }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
