{% load martortags %}
<div id="post-list-wrapper">
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-list-item">
                <div class="post-list-item-header">
                    <img src="{{ post.cover_image.image.url }}">
                    <h1 class="post-list-item-title">
                        <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
                    </h1>
                </div>
                <div class="post-list-item-meta">
                    <span class="post-list-item-meta-date">{{ post.created_date }}</span>
                    {% for tag in post.tags.all %}
                        <div class="post-list-item-tag-group">
                            <i class="fa-solid fa-tag"></i>
                            <span>{{ tag.name }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="post-list-item-body post-markdown-style">{{ post.abstract|safe_markdown }}</div>
                <div class="post-list-item-footer">
                    <a href='{{ post.get_absolute_url }}'>
                        <i class="fa-sharp fa-solid fa-angle-right"></i>
                        <span>閱讀更多</span>
                    </a>
                </div>
            </li>
            <hr class="post-list-item-divider">
        {% endfor %}
    </ul>
</div>
